.header {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;

  .name {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 2px;
  }

  .right {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 30px;

    h2 {
      font-weight: bold;
    }
  }
}
