.container {
  .utilContainer {
    margin-bottom: 20px;
  }

  .deviceList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
  }
}
.empty {
  margin-top: 100px;
}
